#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* .app-background {
  min-height: 100vh;
  position: relative;
} */
.app-background {
  position: relative;
}
.app-background::before{
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./assets/pokeball.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  opacity: 0.2; /* только фон */
  z-index: -1; /* фон сзади */
}